/* Global */
* {
  font-family: "JetBrainsMono NF";
  font-size: 12px;
  border-radius: 0px;
}

/* Color scheme */
@import url("./everforest.css");

/* window title */
#window {
  color: @background;
  background-color: @wp;
  padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.empty {
  background-color: @background;
}

window#waybar { 
  background-color: @background; 
  color: @foreground;    
  border-bottom: 0px solid @background;
}

#scratchpad {
  background-color: @background;
  color: @scratch;
}

/* workspaces */
#workspaces {
    margin: 0 0px;
    color: @background;
	padding: 0px 0px 0px 0px;
}

#workspaces button.urgent {
    background-color: @hl;
}

#workspaces button {
  transition: none;
  color: @foreground;
  padding: 3px 0px 0px 0px;
  margin: 0px 0px;
  border-radius: 0px;
}

#workspaces button.focused { 
  background-color: @wp;
  color: @background;
}

#workspaces button:hover {
  color: @hover;
}

#workspaces button.urgent {
    background-color: @hl;
}

/* Misc */

#clock {
  margin: 0px 4px 0px 0px;
}

#tray,
#network,
#pulseudio,
#battery {
  background-color: @background;
  color: @foreground;
  padding: 5px;
}

#pulseaudio {
  background-color: @background;
  color: @foreground;
  padding: 5px;
}
#pulseaudio.muted {
  background-color: @background;
  color: @hl;
  padding: 5px;
}

#network.disconnected, 
#battery.critical, 
#workspaces button.urgent {
  color: @hl;
}

tooltip,
#clock.calendar,
#clock tooltip,
#clock > tooltip,
#clock {
  background: @background;
  color: @foreground;
  padding: 5px;
}

/* Custom modules */

#custom-separator {
  background-color: @sep;
  color: @background;
  margin: 0 5px;
}

#custom-cmus {
  background-color: @background;
  color: @cmus;
}

#custom-layout {
  background-color: @background;
  color: @icon;
}

